.brake {
  width: 100%;
  background-color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
}

.footer__content {
  display: flex;
  grid-area: 1/2/1/12;
  padding-block: 3rem;
  align-items: center;
  flex-grow: 1;
}

.footer__menu {
  color: var(--background-color);
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.footer__copyright {
  color: var(--background-color);
  display: block;
  opacity: .5;
  font-size: 0.75rem;
}

@media screen and (max-width: 1300px) {
  .footer__content{
    grid-area: 1/1/1/13;
  }
}

@media screen and (max-width: 800px) {
  .footer__content{
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .footer__brake{
    display: flex;
    padding: 0;
  }
  .footer__menu{
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__content{
    display: flex;
    align-items: flex-start;
  }
}