.container {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: var(--max-width);

}

@media screen and (max-width: 720px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}