.place__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.place__interactive {
  grid-area: 1/1/2/9;
}

.place__interactive_image {
  width: 100%;
  height: auto;
  max-height: 800px;
}

.place__content {
  grid-area: 1/9/2/13;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.place__content_header {
  font-size: 3rem;
}

.place__content_accent {
  color: var(--accent-color);
}

.place__content_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: .5;
}