.brake {
  background-color: var(--accent-color);
  width: 100%;
  display: flex;
  align-items: center;
}

.brake__container {
  margin: auto;
  padding: 12.5rem 2rem;
}

.brake__text {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.brake__text_accent {
  color: var(--background-color);
}