.brake {
  background-color: var(--accent-color);
  width: 100%;
  display: flex;
  align-items: center;
}

.brake__container {
  margin: auto;
  padding: 7rem 2rem;
}

.brake__text {
  text-align: center;
  width: 100%;
  font-size: 3rem;
}

.brake__text_accent {
  color: var(--background-color);
}

@media screen and (max-width: 720px) {
  .brake__container{
    padding: 5rem 2rem;
  }
  .brake__text{
    font-size: 1.75rem;
  }
}