:root {
  --max-width: 1400px;
  --border-radius: 1rem;
  --background-color: #FFFBFF;
  --text-color: #0D1B2A;
  --accent-color: #F55D3E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-lato);
}

h1, h2, h3 {
  font-family: var(--font-cabin);
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}
