.userCard {
  display: flex;
  width: 20.5rem;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  box-shadow: 0px 24px 48px rgba(40, 6, 40, 0.1), 0px 12.15px 20.925px rgba(40, 6, 40, 0.0675), 0px 4.8px 7.8px rgba(40, 6, 40, 0.05), 0px 1.05px 2.775px rgba(40, 6, 40, 0.0325);

  &__content {
    text-align: left;
    flex-grow: 1;
    &_head {
      font-size: 1.25rem;
    }
    &_place {
      font-size: .75rem;
      opacity: .5;
    }
  }

  &__avatar {
    border-radius: 10rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  &__button {
    width: 1.5rem;
    height: 1.5rem;
  }
}