.logo {
  font-family: var(--font-cabin);
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  gap: .75rem;
  align-items: center;
}

.logo__white {
  color: var(--background-color);
}

.logo__icon{
  width: 2rem;
  height: 2rem;
}