.hero__container{
  display: flex;
  flex-direction: column;
  padding-top: 7.5rem;
  gap: 3rem;
}

.hero__header{
  font-size: 6rem;
  line-height: 100%;
  max-width: 62rem;
}

.hero__text {
  font-size: 1.5rem;
  opacity: .5;
}

.hero__header_accent{
  color: var(--accent-color);
}